:root {
  --colorVerdeFluor: #80f8b2;
  --colorVerdeOscuro: #0db39b;
  --colorMorado: #800080;
  --colorBlanco: #fff;
  --colorVerdeOpaco: #84bea7;
  --colorNegro: #111111;

  --fuenteTitulos: Major Mono Display;
  --fuenteTitulosAlternativa: monospace;
  --fuenteParrafos: Apple-system;
}

.scrollpos {
  background-color: var(--colorMorado);
  overflow: hidden;
}

h1 {
  /* font-family: 'Press Start 2P', cursive; */
  font-family: var(--fuenteTitulos), var(--fuenteTitulosAlternativa);
  /*font-family: 'Potta One', cursive;*/
}

.myDisable {
  pointer-events: none;
}

.contactContent {
  text-align: center;
  background-color: #202020;
  transition: all 0.3s;
  border-radius: 1em;
}

.close-header {
  padding: 2em;
}

.contactContent:hover {
  background-color: var(--colorVerdeFluor);
  transform: scale(0.95);
  font-size: 2.9em;
}

.contactContent {
  font-size: 3em;
  color: #6dffa8;
}

.contactContent i {
  mix-blend-mode: exclusion;
}

.modal-content a {
  color: #6dffa8;
}

.form-control {
  height: 20vh !important;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-radius: 1em;
}

.close {
  color: #6dffa8;
  outline: none !important;
}

.contactClose {
  position: absolute;
  right: 10vw;
  top: 10vw;
}

.bg-col {
  background-color: #202020;
}

.bg-col,
h1 h3 h5 p {
  color: var(--colorBlanco);
}

.redes-bg {
  display: flex;
  justify-content: space-between;
}

.container-fluid {
  padding: 0;
}

.jumbotron {
  background: #6dffa8;
  background: linear-gradient(
    var(--colorVerdeFluor) 0%,
    var(--colorMorado) 100%
  );
  border-radius: 0 !important;
  /*
    height: 80vh;
    min-height: 100px;
  */
  padding-top: 150px;
  margin: 0;
}

.sound {
  fill: rgba(41, 40, 40, 1);
  transition: 1s;
}

.sound:hover {
  fill: black;
}

textarea {
  resize: none;
  background: var(--colorVerdeOpaco);
  background: linear-gradient(var(--colorVerdeOpaco) 0%, #83a6a2 100%);
  border: solid 1px #72918d !important;
  color: black !important;
}

textarea::-webkit-input-placeholder {
  color: rgb(66, 66, 66) !important;
}

.btn {
  background-color: #8f2aee !important;
  border: none;
  font-size: 30px;
}

.onda {
  width: auto;
  height: auto;
}

.audios {
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 6em 15em;
}

.miBtn {
  margin-top: 100px !important;
}

.subtitulo {
  font-weight: 300;
}

.list-group-item {
  display: list-item;
}

#loader {
  opacity: 0;
  width: 40vw;
  height: 10vh;
}

.bi-play {
  color: #80008080;
}

.bi-play:hover {
  color: var(--colorMorado);
}

.bi-arrow-down-circle-fill {
  color: #80008080;
}

.bi-arrow-down-circle-fill:hover {
  color: rgba(128, 0, 128, 0.1);
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--colorMorado);
}

.claseHeredada {
  width: 400px;
  height: 200px;
}

/*TOOLTIPS*/

#lg_tooltip {
  z-index: 100;
  font-size: 4em;
  color: var(--colorMorado);
}

/*
  BARRA DE NAVEGACION
*/

.nav-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000000;
  height: 70px;
  z-index: inherit;
}

.nav-conteiner__boton-menu {
  display: none;
}

.nav-conteiner__logo {
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 6;
  font-family: var(--fuenteTitulos);
  color: var(--colorVerdeFluor);
  gap: 10px;
}

.nav-conteiner__logo:hover{
  text-decoration: none;
}

.nav-conteiner__logo h4{
  position: relative;
  top: 2px;
}

.nav-conteiner__navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Montserrat;
  height: 60px;
  padding-right: 50px;
  font-size: 20px;
  gap: 30px;
  z-index: 6;
}

.nav-conteiner__navegacion__link {
  color: var(--colorVerdeFluor);
  font-family: Montserrat;
  font-weight: normal;
  text-decoration: none !important;
  position: relative;
}

.nav-conteiner__navegacion__link:hover {
  color: var(--colorMorado);
}

.nav-conteiner__navegacion__link::after {
  content: "";
  position: absolute;
  background-color: var(--colorBlanco);
  width: 100%;
  left: 0;
  top: calc(100% + 4px);
  height: 4px;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.nav-conteiner__navegacion__link:hover::after {
  opacity: 1;
}

.nav-conteiner__navegacion__link:hover,
.nav-conteiner__navegacion__link-active {
  color: var(--colorVerdeFluor);
  transition: color 0.3s ease-in-out;
}

/*
  FOOTER
*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #111111 !important;
  padding-top: 20px;
  color: white;
  gap: 30px;
}

.footer-container {
  display: flex;
  align-items: start;
  justify-content: space-around;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
}

.logo {
  align-self: center;
}

.logo img {
  background-color: #111111;
  width: 200px;
}

.contacto-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.redes-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 40px;
  justify-content: space-around;
  align-items: center;
}

.icono {
  width: min-content;
  text-decoration: none !important;
}

.icono i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #d9d9d9;
  color: black;
  font-size: 35px;
}

.enlaces-footer {
  padding-bottom: 10px;
}

.enlaces-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.enlaces-container a {
  color: white;
}

.copy-footer {
  display: flex;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  color: white;
  padding-top: 10px;
}

.enlaces-footer a {
  color: white;
}

.copy-footer {
  display: flex;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  color: white;
  padding-top: 10px;
}

/*GENERAL MODAL*/
.modal-dialog {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.75rem auto;
}

.modal-content {
  max-width: 500px;
  border-radius: 0.5rem;
}

/*CONTACT MODAL*/
.modal-contact-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* ALERTAS */
.alert {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* MOVILE */

@media (min-width: 400px) {
  .modal-contact-body {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Paso de un 2x2 a una linea de 4 columnas */
  }
}

@media (max-width: 500px) {
  .modal-dialog {
    margin: 0;
  }
}

@media (max-width: 400px) {
  .nav-conteiner__navegacion__link {
    font-size: 40px !important;
  }
  .nav-conteiner__logo {
    padding: 0 5px;
  }
}

@media (max-width: 1200px){
  .nav-conteiner__navegacion {
    padding-right: 20px;
    font-size: 20px;
    gap: 20px;
  }
}

@media (max-width: 1070px){
  .nav-conteiner__navegacion {
    padding-right: 20px;
    font-size: 20px;
    gap: 20px;
  }

  /*
  Barra de navegacion
  */

  .nav-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-conteiner__boton-menu {
    display: inline;
    color: var(--colorBlanco);
    background: none;
    border: none;
    font-size: 50px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    z-index: 6;
    outline: none !important;
  }

  .nav-conteiner__navegacion {
    background-color: var(--colorNegro);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 100%;
    top: 70px;
    width: 100%;
    height: calc(100% - 60px);
    font-size: 50px;
    overflow-y: auto;
    padding-right: 0px;
    pointer-events: none;
    transition: left 0.3s;
  }

  .nav-conteiner__navegacion__link {
    font-weight: bold;
    pointer-events: auto;
    text-align: center;
  }

  .nav-conteiner__navegacion-visible {
    left: 0%;
    pointer-events: auto;
  }

  .nav-conteiner__navegacion__link:hover,
  .nav-conteiner__navegacion__link-active {
    color: var(--colorMorado);
    transition: color 0.3s ease-in-out;
  }

  .nav-conteiner__navegacion__link::after {
    content: "";
    background: none;
  }
}

@media (max-width: 991px) {
  .overlay {
    height: 100%;
  }

  #loader {
    width: 0vw;
    height: 0vh;
  }

  .form-control {
    font-size: 1em;
  }

  .audios {
    gap: 3em;
    margin-top: 5em;
    padding: 5em 1em;
  }

  .ellipsis_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorBlanco);
    height: 60px;
    font-size: 40px;
    padding: 5px;
    opacity: 1;

    cursor: pointer;
  }

  .titleAnim {
    font-size: 7em;
  }

  .subAnim {
    font-size: 3em;
  }

  .miBtn {
    font-size: 3em;
    width: 6em;
    height: 3em;
  }
}

@media (max-width: 750px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  
  .enlaces-footer, .enlaces-footer-info {
    text-align: center;
  }

  .enlaces-footer-info .enlaces-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .enlaces-container {
    display: grid;
    grid-template-columns: 1fr /*1fr*/; 
  }

  /* .enlaces-footer a:last-child{
    grid-column: 1/3;
  } */
   
  .redes-container {
    display: flex;
    column-gap: 30px;
  }
}

@media (max-width: 350px) {
  .redes-container {
    display: grid;
    column-gap: 40px;
  }

  .nav-conteiner__logo h4 {
    font-size: 1.3rem;
}
}
