.contenedor-externo-general {
  min-height: 100vh;
  background: linear-gradient(
    #000 20%,
    var(--colorVerdeOscuro) 100%
  );
}

.jumbotron {
  height: auto;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: transparent;
  padding-top: 20px;
}

.jumbotron h1 {
  color: white;
  font-size: 2rem;
}

.jumbotron button{
    font-size: 1.1rem;
    background-color: #0DB39B !important;
    padding-inline: 50px !important;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}

@media (min-width: 350px) {
  .jumbotron h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 410px) {
  .jumbotron h1 {
    font-size: 3rem;
  }
  
  .jumbotron button{
    font-size: 25px;
  }
  
}

@media (min-width: 510px) {
  .jumbotron h1 {
    font-size: 3.75rem;
  }
}

.jumbotron p {
  color: white;
  font-size: 1.5rem;
  font-family: Poppins;
}

#contenedor-formularios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
  background: transparent;
}

@media (min-width: 1200px) {
  #contenedor-formularios {
    flex-direction: row;
  }
}

.contenedor-externo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 550px;
}

.contenedor-externo-login {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #800080;
  width: 100%;
  max-width: 550px;
}

.formulario {
  width: 100%;
  height: fit-content;
  padding-bottom: 40px;
  background: #E2E2DA;
  border-radius: 25px;
}

.contenedor-encabezado{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 40px;
}

.contenedor-encabezado-login{
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
  width: 100%;
  padding-inline: 40px;
}

.line{
  background: black;
  height: 1px;
  width: 100%;
}

.formulario h3 {
  font-family: Montserrat;
  font-size: 2rem;
  padding: 0.7em;
  text-align: center;
  font-weight: 500;
  color: #000;
}

.formulario form {
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

@media (max-width: 550px) {
  .formulario form {
    padding-inline: 10px !important;
  }

  .form {
    padding: 20px 10px !important;
  }

  .contenedor-encabezado{
    padding-inline: 10px ;
  }

  .contenedor-encabezado-login{
    padding-inline: 10px;
  }
}

@media (max-width: 390px){
  .contenedor-encabezado-login{
    grid-template-columns: repeat(3, 1fr);
  }
}

form .entrada {
  position: relative;
  border: 2px solid black;
  display: flex;
  background-color: white;
}

.entrada input {
  width: 100%;
  padding: 0 10px;
  height: 50px;
  border: none;
  background: none;
  outline: none;
}

.entrada label {
  position: absolute;
  top: 1px;
  left: 5px;
  color: #224a4b;
  transform: translateY(-50%);
  font-size: 18px;
  pointer-events: none;
  transition: 0.3s;
}

.entrada span::before {
  content: " ";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #800080;
  transition: 0.5s;
}

.entrada input:focus ~ label,
.entrada input:focus ~ label {
  top: -5px;
  color: #800080;
}

.entrada input:focus ~ span::before,
.entrada input:focus ~ span::before {
  width: 100%;
}

#entrada__icono{
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorMorado);
  font-size: 35px;
  color: white;
}

#entrada__icono img{
  height: 40px;
  width: 45px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #e7e7e7;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #224a4b;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}

select::-ms-expand {
  display: none;
}

.seleccion {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  line-height: 3;
  background: #800080;
  overflow: hidden;
  border-radius: 0.25em;
  border: 2px solid black;
}

.seleccion::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #800080;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}

.seleccion:hover::after {
  color: #23b499;
}

#Region {
  font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#checkbox{
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 10px;
}

#checkbox input{
  min-width: 30px;
  min-height: 30px;
}

#checkbox span{
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
}

#terminos-y-condiciones{
  color: var(--colorMorado);
}

.contenedor-boton {
  text-align: right;
}

.boton-neon {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  color: #224a4b;
  letter-spacing: 1px;
  font-size: 25px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2;
  width: 100%;
}

.boton-neon:hover {
  background: var(--colorMorado);
  color: #fff;
  transition-delay: 1s;
}

.boton-neon span {
  position: absolute;
  display: block;
}

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--colorMorado));
}

.boton-neon:hover #span1 {
  left: 100%;
  transition: 1s;
}

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--colorMorado));
}

.boton-neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#span2 {
  top: -100%;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(180deg, transparent, var(--colorMorado));
}

.boton-neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#span4 {
  bottom: -100%;
  left: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(360deg, transparent, var(--colorMorado));
}

.boton-neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.72s;
}

.modal-info-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 1rem;
}

/* MODAL ERROR */
.modal-error-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 1rem;
}

.modal-error-body:has(button) {
  display: flex;
  justify-content: center;
  align-items: start;
}

#modal-error-button-container{
 align-self: flex-end;
}

.modal-error-body button {
  width: 100px;
  height: 38px;
  border-radius: 4.8px;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-feature-settings: "clig" off, "liga" off;
}

.modal-error-body button:hover {
  background: #ff4545;
  color: white;
}

.modal-error-header {
  background: #ff4545;
  color: white;
}

/* OCULTO LINKS DE NAVBAR Y FOOTER */
.a-info, .a-objetivos{
  display: none;
}