:root {
  --colorVerdeFluor: #80F8B2;
  --colorVerdeOscuro: #0db39b;
  --colorMorado: #800080;
  --colorBlanco: #FFF;
  --colorVerdeOpaco: #84bea7;

  --fuenteTitulos: Major Mono Display;
  --fuenteTitulosAlternativa: monospace;
  --fuenteParrafos: Apple-system;
}


h1 {
  /* font-family: 'Press Start 2P', cursive; */
  font-family: var(--fuenteTitulos), var(--fuenteTitulosAlternativa);
  /*font-family: 'Potta One', cursive;*/
}

.myDisable {
  pointer-events: none;
}

.contactContent {
  text-align: center;
  background-color: #202020;
  transition: all 0.3s;
  border-radius: 1em;

}

.close-header {
  padding: 2em;
}

.contactContent:hover {
  background-color: var(--colorVerdeFluor);
  transform: scale(0.95);
  font-size: 2.9em;

}

.contactContent {
  font-size: 3em;
  color: #6dffa8;
}

.contactContent i {
  mix-blend-mode: exclusion;
}

.modal-content a {
  color: #6dffa8;

}

.form-control {
  height: 20vh !important;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-radius: 1em;
}

.close {
  color: #6dffa8;
}

.contactClose {
  position: absolute;
  right: 10vw;
  top: 10vw;
}

.bg-col {
  background-color: #202020;
}

.bg-col,
h1 h3 h5 p {
  color: var(--colorBlanco);

}

.redes-bg {
  display: flex;
  justify-content: space-between;
}


.container-fluid {
  padding: 0;
}

.jumbotron {
  background: #6dffa8;
  background: linear-gradient(var(--colorVerdeFluor) 0%, var(--colorMorado) 100%);
  border-radius: 0 !important;
  height: 80vh;
  min-height: 100px;
  padding-top: 150px;
  margin: 0;
}

.sound {
  fill: rgba(41, 40, 40, 1);
  transition: 1s;
}

.sound:hover {
  fill: black;
}

textarea {
  resize: none;
  background: var(--colorVerdeOpaco);
  background: linear-gradient(var(--colorVerdeOpaco) 0%, #83a6a2 100%);
  border: solid 1px #72918d !important;
  color: black !important;
}

textarea::-webkit-input-placeholder {
  color: rgb(66, 66, 66) !important;
}

.btn {
  background-color: #8f2aee !important;
  border: none;
}

.onda {
  width: auto;
  height: auto;
}

.audios {
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 6em 15em;
}


.miBtn {
  margin-top: 100px !important;
}

.subtitulo {
  font-weight: 300;
}

.list-group-item {
  display: list-item;
}

#loader {
  opacity: 0;
  width: 40vw;
  height: 10vh;

}

.bi-play {
  color: #80008080;

}

.bi-play:hover {
  color: var(--colorMorado);
}

.bi-arrow-down-circle-fill {

  color: #80008080;
}

.bi-arrow-down-circle-fill:hover {
  color: rgba(128, 0, 128, .1);
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--colorMorado);
}

.claseHeredada {
  width: 400px;
  height: 200px;
}

/*TOOLTIPS*/

#lg_tooltip {
  z-index: 100;
  font-size: 4em;
  color: var(--colorMorado);
}

/*
  BARRA DE NAVEGACION
*/

.nav-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--colorMorado);
  height: 70px;
  z-index: 1;
}

.nav-conteiner__boton-menu {
  display: none;
}

.nav-conteiner__logo {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-conteiner__navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--fuenteTitulos);
  height: 60px;
  padding-right: 10px;
  font-size: 20px;
  gap: 20px;
}

.nav-conteiner__navegacion__link {
  color: var(--colorBlanco);
  font-family: var(--fuenteParrafos);
  font-weight: normal;
  text-decoration: none !important;
  position: relative;
}

.nav-conteiner__navegacion__link:hover {
  color: var(--colorMorado);
}

.nav-conteiner__navegacion__link::after {
  content: "";
  position: absolute;
  background-color: var(--colorBlanco);
  width: 100%;
  left: 0;
  top: calc(100% + 4px);
  height: 4px;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.nav-conteiner__navegacion__link:hover::after {
  opacity: 1;
}

.nav-conteiner__navegacion__link:hover,
.nav-conteiner__navegacion__link-active {
    color: var(--colorVerdeFluor);
    transition: color .3s ease-in-out;
}


/*
  SECCION DE INFORMACION
*/

.info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--colorMorado);
  padding-bottom: 60px;
}

.contenedor-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0db39b;
  border-radius: 100%;
  height: 500px;
  width: 500px;
  margin: auto;
}

.svg_container {
  padding: 6em;
  position: relative;
  max-width: 700px;
  min-width: 300px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  place-items: center;
}

.svg_container img {
  cursor: pointer;
  position: absolute;
}

.info-text {
  padding: 30px 20px;
  background-color: #0db39b;
  max-width: 700px;
  min-width: 300px;
  opacity: 0;
  color: var(--colorBlanco);
  font-family: var(--fuenteTitulos), var(--fuenteTitulosAlternativa);
  font-weight: 800;
  letter-spacing: 3px;
}

.tlt {
  color: #181818;
}

/*
  FOOTER
*/

footer {
  background-color: var(--colorMorado);
  /* border-top: solid black; */
}

/* MOVILE */


@media (max-width: 991px) {

  .overlay {
    height: 100%;
  }

  .bg-col {
    font-size: 2.5em;

  }

  .bg-col h1 {
    font-size: 2.5em;

  }

  .bg-col h3 {
    font-size: 2.5em;

  }

  .modal-dialog {
    max-width: 100vw;
    margin: 0;

  }

  .modal-title {
    font-size: 1em;
    margin-top: 0.5em;
  }

  #loader {
    width: 0vw;
    height: 0vh;
  }

  .close {
    font-size: 5.5rem;
  }

  .form-control {

    font-size: 1em;
  }

  .audios {
    gap: 3em;
    margin-top: 5em;
    padding: 5em 1em;
  }

  .ellipsis_container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorBlanco);
    height: 60px;
    font-size: 40px;
    padding: 5px;
    opacity: 1;

    cursor: pointer;
  }

  .info-container {
    padding-top: 15em;
    background-image: url("");
    background-color: #0db39b;
    height: auto;
  }

  .info-text {
    font-size: 1.5em;
  }

  .tlt {
    background-color: var(--colorMorado);
    padding: 2em;
    color: var(--colorBlanco);
  }

  .titleAnim {
    font-size: 7em;
  }

  .subAnim {
    font-size: 3em;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
  }

  .nav-link span:hover {
    position: relative;
    color: #8f2aee;
    transition: color .3s ease;
  }

  .nav-link span {
    font-size: 2em;
    color: var(--colorBlanco);
  }

  .miBtn {
    font-size: 3em;
    width: 6em;
    height: 3em;
  }

  /*
    Barra de navegacion
  */

  .nav-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-conteiner__boton-menu {
    display: inline;
    color: var(--colorBlanco);
    background: none;
    border: none;
    font-size: 50px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
  }

  .nav-conteiner__navegacion {
    background-color: #0db39b;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 100%;
    top: 70px;
    width: 100%;
    height: calc(100% - 60px);
    font-size: 50px;
    overflow-y: auto;

    pointer-events: none;
    transition: left .3s;
  }

  .nav-conteiner__navegacion__link {
    font-weight: bold;
    pointer-events: auto;
  }

  .nav-conteiner__navegacion-visible {
    left: 0%;
    pointer-events: auto;
  }

  .nav-conteiner__navegacion__link:hover,
  .nav-conteiner__navegacion__link-active {
      color: var(--colorMorado);
      transition: color .3s ease-in-out;
  }

  .nav-conteiner__navegacion__link::after {
    content: "";
    background: none;
  }

}