{% extends "./base.html" %}

{% block tittle %}ArchiVoz Formulario{% endblock %}

{% block links %}

<link rel="icon" href="..\static\img\favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="..\static\img\favicon.ico" type="image/x-icon">
{% endblock %}

{% block customCSS %}
<link rel="stylesheet" type="text/css" href="..\static\css\styleformulario.css">
{% endblock %}


{% block body %}
<div class="contenedor-externo-general">
  <div class="jumbotron" id="jumbo-canvas">
    <h1 class="display-4 text-center titleAnim">¿como participar?</h1>
    <p class="lead text-center subAnim">Para poder donar tu voz en ArchiVoz tenes que completar un formulario.</p>
    <button href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#infoModal">Más información</button>
  </div>
  <div id="contenedor-formularios">
    <div class="contenedor-externo">
      <div class="formulario">
        <div class="contenedor-encabezado">
          <div class="line"></div>
          <h3>Registro</h3>
          <div class="line"></div>
        </div>
        <form id="signin" method="POST">
          
          <div class="entrada">
            <div id="entrada__icono">
              <i class="fa-solid fa-user"></i>
            </div>
            <input type="text" id="nombre" name="nombre" required placeholder="Nombre completo"/>
          </div>
    
          <div class="entrada">
            <div id="entrada__icono">
              <i class="fa-solid fa-cake-candles"></i>
            </div>
            <input type="number" id="edad" name="edad" placeholder="Edad" required min="1" />
          </div>
    
          <div class="seleccion">
            <select id="region" name="region">
    
              <option selected disabled>Selecciona la provincia</option>
              <option value="Bs As">Buenos Aires</option>
              <option value="Catamarca">Catamarca</option>
              <option value="Chaco">Chaco</option>
              <option value="Chubut">Chubut</option>
              <option value="Cordoba">Cordoba</option>
              <option value="Corrientes">Corrientes</option>
              <option value="Entre rios">Entre rios</option>
              <option value="Formosa">Formosa</option>
              <option value="Jujuy">Jujuy</option>
              <option value="La Pampa">La Pampa</option>
              <option value="La Rioja">La Rioja</option>
              <option value="Mendoza">Mendoza</option>
              <option value="Misiones">Misiones</option>
              <option value="Neuquen">Neuquen</option>
              <option value="Rio Negro">Rio Negro</option>
              <option value="Salta">Salta</option>
              <option value="San Juan">San Juan</option>
              <option value="San Luis">San Luis</option>
              <option value="Santa Cruz">Santa Cruz</option>
              <option value="Santa Fe">Santa Fe</option>
              <option value="Santiago del Estero">Santiago del Estero</option>
              <option value="Tierra del Fuego">Tierra del Fuego</option>
              <option value="Tucuman">Tucuman</option>
    
            </select>
          </div>
    
          <div class="entrada">
            <div id="entrada__icono">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <input type="email" id="mail1" name="mail1" placeholder="Email" required />
          </div>
    
          <div class="entrada">
            <div id="entrada__icono">
              <i class="fa-solid fa-check"></i>
            </div>
            <input type="email" id="mail2" name="mail2" placeholder="Confirmar email" required />
          </div>

          <div class="entrada">
            <div id="entrada__icono">
              <img src="../static/SVG/virus.svg" alt="">
            </div>
            <input type="text" id="patologia" name="patologia" placeholder="Patología del habla (opcional)" />
          </div>

          <div id="checkbox">
            <input type="checkbox" id="demoCheckbox" name="checkbox" value="1">
            <span for="checkbox">He leído y acepto los <span id="terminos-y-condiciones">Terminos y Condiciones</span>.</span>
          </div>
    
          <div class="contenedor-boton">
            <button class="boton-neon" type="submit">
              <span id="span1"></span>
              <span id="span2"></span>
              <span id="span3"></span>
              <span id="span4"></span>
              Registrarse
            </button>
          </div>
        </form>
    
      </div>
    </div>
    <div class="contenedor-externo">
    
      <div class="formulario">
        <div class="contenedor-encabezado-login">
          <div class="line"></div>
          <h3>Retomar sesión</h3>
          <div class="line"></div>
        </div>
        <form id="login" method="POST">
          
          <div class="entrada">
            <div id="entrada__icono">
              <img src="../static/SVG/userid.svg" alt="">
            </div>
            <input type="text" id="userID" name="userID" placeholder="Ingresar su ID" />
          </div>
    
          <div class="contenedor-boton">
            <button class="boton-neon" type="submit">
              <span id="span1"></span>
              <span id="span2"></span>
              <span id="span3"></span>
              <span id="span4"></span>
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- Modal info -->
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content ">
        <div class="modal-header bg-col">
          <h5 class="modal-title">#Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-info-body bg-col">
          <div>
            <h6>¿Porqué necesitamos estos datos?</h6>
            <p>Porque queremos hacer un análisis sonoro de las voces y poder vincular características acústicas con parámetros demográficos como la edad o la región. </p>
          </div>
          <div>
            <h6>¿Se comparten estos datos? </h6>
            <p>La base de datos que genera este archivo es de acceso libre bajo nuestra supervisación, esto implica que nosotros estamos dispuestos a compartir los datos si se nos garantiza un uso responsable de los mismos. El único dato que no se comparte es el mail, que es necesario para el funcionamiento interno de la página.</p>
          </div>
          <h6>Mas info en Terminos y Condiciones.</h6>
        </div>
        <div class="modal-footer bg-col">
        </div>
      </div>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
  'error' %}
  <!-- Modal error -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header modal-error-header">
            <h5 class="modal-title">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-error-body">
            <div>
                <p id="error">{{ message }}</p>
            </div>
            <div id="modal-error-button-container">
                <button data-dismiss="modal" aria-label="Close">Cerrar</button>
            </div>
        </div>
        </div>
    </div>
  </div>
  {% endif %} {% endfor %} {% endif %} {% endwith %}
  
</div>

{% endblock %}

{% block scripts %}
<script src="..\static\js\form.js"></script>
{% endblock %}