{% extends "base.html" %}
{% block content %}

<form method="POST">
  <h3>Información del Usuario</h3>
  <p>Explicar porque necesitamos la info. Esta sección puede tomar 6 renglones de word ponele.</p>
  <div class="form-group">
    <label for="Nombre Completo">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="nombre"
      name="nombre"
      placeholder="Ingresa tu nombre"
    />
  </div>
  <div class="form-group">
    <label for="Edad">Edad</label>
    <input
      type="text"
      class="form-control"
      id="edad"
      name="edad"
      placeholder="Ingresa tu edad"
    />
  </div>
  <div class="form-group">
    <label for="Region">Región</label>
    <input
      type="text"
      class="form-control"
      id="region"
      name="region"
      placeholder="Cambiar por un checkbox"
    />
  </div>
  <div class="form-group">
    <label for="Mail">Mail</label>
    <input
      type="text"
      class="form-control"
      id="mail1"
      name="mail1"
      placeholder="Ingresa tu mail"
    />
  </div>
  <div class="form-group">
    <label for="Mail">Confirmar Mail</label>
    <input
      type="text"
      class="form-control"
      id="mail2"
      name="mail2"
      placeholder="Confirma el mail ingresado"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Confirmar datos</button>

  <!-- Aca va la sección de poner ID, en principio creo que se puede poner todo en un mismo form -->
  <p> Si ya grabaste tu voz y queres seguir participando ingresa el ID que te mandamos a tu mail para
    retomar la sesión y seguir contribuyendo al proyecto.
  </p>

  <div class="form-group">
    <label for="ID">Retoma tu sesión con tu ID</label>
    <input
      type="text"
      class="form-control"
      id="userID"
      name="userID"
      placeholder="Ingresa tu ID de usurio."
    />
  </div>
  <button type="submit" class="btn btn-primary">Confirmar ID</button>

</form>

{% endblock %}