<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h1>Audio Recorder Form</h1>
    <!-- <p> {{text_sentence}}</p> -->

    <p id = "oracion"> Van a aparecer oraciones para que leas, seguí las recomendaciones para que aprovechemos al máximo tu esfuerzo. </p>
    <label for="audioRecording">Record Audio:</label>
    <button id="startRecording">Grabar</button>
    <button id="stopRecording" disabled>Borrar Grabación</button>
    <button id="nextRecording" disabled>Pasar de frase</button>
    <audio id="audioRecording" controls></audio>

    <script>
        var dynamic_url_from_backend = JSON.parse('{{dynamic_url|tojson}}');
        console.log(dynamic_url_from_backend);
        var oracion = document.getElementById('oracion')
        const startRecordingButton = document.getElementById('startRecording');
        const stopRecordingButton = document.getElementById('stopRecording');
        const nextRecordingButton = document.getElementById('nextRecording');
        const audioRecording = document.getElementById('audioRecording');

        let mediaRecorder;
        let audioChunks = [];
        let cont = 0;
        let oraciones = ["Bienvenidos a ArchiVoz, donando tu voz ayudas a muchas personas.",
    "Mas oraciones, a pero que nivel, no sabia que eras tan crack.",
    "Que vengan los que quieran, aca tenemos oraciones para rato.", 
    "Bueno en algún momento se van a terminar, depende de mi paciencia.",
    "Ahora si... me parece que hasta acá llegue. Saludos maquina.",
    "A pero si yo te avise que esa la última, en la que sigue se rompe posta. GL HF!!!"];

        // Cuando aprieto start empieza la grabación
        startRecordingButton.addEventListener('click', () => {
            navigator.mediaDevices
                .getUserMedia({ audio: true })
                .then((stream) => {
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.ondataavailable = (e) => {
                        if (e.data.size > 0) {
                            audioChunks.push(e.data);
                        }
                    };
                    mediaRecorder.onstop = () => {
                        // Esto es para escuchar el audio creo
                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                        audioRecording.src = URL.createObjectURL(audioBlob);
                        audioRecording.controls = true;
                        audioRecording.autoplay = false;
                        audioRecording.muted = false;
                    };
                    mediaRecorder.start();
                    startRecordingButton.disabled = true;
                    stopRecordingButton.disabled = false;
                    nextRecordingButton.disabled = false;
                })
                .catch((error) => {
                    console.error('Error accessing microphone:', error);
                });
        });

        // Cuando aprieto el botón de parar grabación
        stopRecordingButton.addEventListener('click', () => {
            // Si esta grabando
            if (mediaRecorder && mediaRecorder.state === 'recording') {
                // Detene la grabación y clearea lo grabado.
                mediaRecorder.stop();
                // Volver a poner disponible el boton de empezar grabación
                startRecordingButton.disabled = false;
                stopRecordingButton.disabled = true;
                nextRecordingButton.disabled = false;
            }
            else {
                // Si no esta grabando y toco este boton borro lo que se grabó
                // audioChunks = [];
            }
        });

        // Cuando aprieto el boton de pasar de frase se sube el audio al back y me cambia la frase
        nextRecordingButton.addEventListener('click', () =>{
            mediaRecorder.stop();
            // Aca se actualiza el texto en pantalla y se asocia al audio subido por medio del append title en el post
            let oracionID = "_oracion_" + cont.toString();
            oracion.innerHTML = oraciones[cont];
            cont++;

            // Hay un bug que se guardan en el back con retraso, osea el primer audio que aparece esta
            // vacio y después aparecen los demás. Osea se puede usar igual pero hay que arreglarlo.
            
            // Subir el audio a la web, probar usar ajax en vez de fetch
            const audioBlob2 = new Blob(audioChunks, { type: 'audio/mpeg-3' });
            var form = new FormData();
            form.append('file', audioBlob2, 'data.mp3');
            form.append('texto', oracionID);
            //Chrome inspector shows that the post data includes a file and a title.
            $.ajax({
                type: 'POST',
                url:dynamic_url_from_backend,
                data: form,
                cache: false,
                processData: false,
                contentType: false
            }).done(function(data) {
                console.log(data);
            });

            // Se actualiza el estado de los botones. Y del buffer.
            startRecordingButton.disabled = false;
            stopRecordingButton.disabled = true;
            nextRecordingButton.disabled = true;
            audioChunks = [];

        });

    </script>
</body>
</html>