{% extends "./base.html" %}

{% block tittle %}Asistente de grabacion{% endblock%}

{% block links %}
<link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">
<link rel="stylesheet" href="..\static\css\stylerecording.css">
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
<link rel="icon" href="..\static\img\favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="..\static\img\favicon.ico" type="image/x-icon">
{% endblock %}

{% block body %}
<div class="contenedor-externo-general">
    <div class="invisible-div">
        <div id="id_user">{{ id_user }}</div>
    </div>
    
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <spam>Volver al inicio</spam>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <section class="contenedor-titulo">
        <div class="welcome">
            <h1>bienvenido a la grabadora de archivoz</h1>
        </div>
    </section>
    
    <section class="contenedor-contenido">
        <div class="contenedor-aux">
            <div class="contenedor-seleccion">
                <div class="seleccion">
                    <select id="autorSelection" name="autorSel">
    
                        <option selected disabled value="None">Selecciona un autor (opcional)</option>
                        <option value="Julio Cortázar">Julio Cortázar</option>
                        <option value="Jorge Luis Borges">Jorge Luis Borges</option>
                        <option value="Ernesto Sabato">Ernesto Sabato</option>
    
                    </select>
                </div>
            </div>
            <!-- Este microfono se muestra en vista desktop -->
            <div id="microfono-desktop" class="contenedor-microfono">
                <img src="../static/SVG/microfono.svg" alt="">
            </div>
        </div>
        <div class="contenedor-frases">
                <div class="rectangulo-verde">
                    <div class="frases-leer">
                        En el resplandor del atardecer, el cielo se tiñó de un exquisito tono de azul profundo,
                        un azul que se desvanecía sutilmente en un verde sereno y etéreo,
                        como el matiz encantado de un jardín secreto. Las nubes,
                        adornadas con pinceladas rosadas y doradas,
                        danzaban en armonía con esta paleta celestial,
                        pintando un paisaje que parecía sacado de un sueño.
                        El mundo se sumergía en la calidez de la transición del día a la noche,
                        envuelto en la magia cromática que solo el ocaso podía ofrecer.
                    </div>
                </div>
        </div>
        <!-- Este microfono se muestra en vista movil -->
        <div  class="contenedor-microfono-mobile">
            <div class="contenedor-microfono" id="microfono-mobile">
                <img src="../static/SVG/microfono.svg" alt="">
            </div>
        </div>
        <div id="loader-recording" class="loader-wrapper">
            <div id="custom-loader"></div>
            <span>Procesando grabación...</span>
        </div>
        <div class = "contenedor-grabacion">
            <div class="sub-contenedor-grabacion">
                <h2 class="nombre-texto">grabación</h2>
                <div class="contenedor-audio">
                    <audio controls></audio>
                </div>
                <div class="contenedor-botones">
                    <div class = "borrarGrabacion"><button id="borrarGrabacion" class="borrar  boton-grabacion">Borrar
                        grabacion</button></div>
                    <div class="cantidad-grabaciones">
                        <div class="texto-cant-audios">
                            Cantidad de audios enviados
                        </div>
                        <div class = "contador-audios">
                            <span id="contador"></span>
                        </div>
                    </div>
                    <div class = "enviarGrabacion">
                        <button id="enviarGrabacion" class="enviar  boton-grabacion">
                            <span id="texto-envio">Enviar</span>
                            <div id="loader-send" class="loader-wrapper">
                                <div id="custom-loader"></div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal Error (no tiene trigger por ahora) -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header modal-error-header">
            <h5 class="modal-title">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-error-body">
            <div>
                <p>Porque queremos hacer un análisis sonoro de las voces y poder vincular características acústicas con parámetros demográficos como la edad o la región. </p>
            </div>
            <div>
                <button data-dismiss="modal" aria-label="Close">Cerrar</button>
            </div>
        </div>
        <div class="modal-footer">
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
<script src="..\static\js\recording.js"></script>
{% endblock %}