{% extends "./base.html" %}

{% block tittle %}Asistente de grabacion{% endblock%}

{% block links %}
<link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">
<link rel="stylesheet" href="..\static\css\stylerecording.css">
<link rel="stylesheet" href="https://cdn.plyr.io/3.7.2/plyr.css" />
<link rel="icon" href="..\static\img\favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="..\static\img\favicon.ico" type="image/x-icon">
{% endblock %}

{% block body %}
<div class="contenedor-externo-general">
    <div class="invisible-div">
        <div id="id_user">{{ id_user }}</div>
    </div>
    <section id="instrucciones">
        <div class="instruccion">
            <span>Esta es la grabadora de Archivoz. El objetivo es donar tu voz para construir una base de datos de voces argentinas con el propósito de desarrollar tecnología para nuestro país.</span>
            <ul>
                <li>No impostar la voz</li>
                <li>Leer de corrido</li>
            </ul>
            <div id="instruccion-controles">
                <button id="prev">
                    <img src="../static/SVG/flecha1.svg" alt="">
                </button>
                <button id="next">
                    <img src="../static/SVG/flecha1.svg" alt="">
                </button>
            </div>
            <span id="temporizador">10</span>
        </div>
    </section>
    <section class="contenedor-contenido">
        <div class="contenedor-aux">
            <!-- Este microfono se muestra en vista desktop -->
            <div id="microfono-desktop" class="contenedor-microfono">
                <img src="../static/SVG/microfono.svg" alt="">
            </div>
            <div id="grabando">
                <span>Grabando...</span>
            </div>
            <div class="cantidad-grabaciones">
                <span>Audios enviados</span>
                <span class="contador">{{number_recordings or '0'}} / 20</span>
            </div>
            <div id="cronometro">
                <span>00:00</span>
            </div>
        </div>
        <div id="contenedor-frases">
                <div class="frases-leer">
                    Cuando estés listo, pulsa el botón para empezar a grabar
                </div>
        </div>
        <!-- Este microfono se muestra en vista movil -->
        <div  class="contenedor-microfono-mobile">
            <div class="contenedor-microfono" id="microfono-mobile">
                <img src="../static/SVG/microfono.svg" alt="">
            </div>
        </div>
        <button id="detener-grabación">Detener grabación</button>
        <div id="loader-recording" class="loader-wrapper">
            <div id="custom-loader"></div>
            <span>Procesando grabación...</span>
        </div>
        <div class = "contenedor-grabacion">
            <div class="sub-contenedor-grabacion">
                <h2 class="nombre-texto">¿Querés escuchar tu grabación?</h2>
                <div class="contenedor-audio">
                    <audio controls></audio>
                </div>
                <div class="contenedor-botones">
                    <div class = "borrarGrabacion">
                        <button id="borrarGrabacion" class="borrar  boton-grabacion">
                            <img src="../static/SVG/basura.svg" alt="">
                            <span>Borrar</span>
                        </button>
                    </div>
                    <div class="cantidad-grabaciones">
                        <span>Audios enviados</span>
                        <span class="contador">{{number_recordings}} / 20</span>
                    </div>
                    <div class = "enviarGrabacion">
                        <button id="enviarGrabacion" class="enviar  boton-grabacion">
                            <div id="texto-envio">
                                <img src="../static/SVG/tilde.svg" alt="">
                                <span>Enviar</span>
                            </div>
                            <div id="loader-send" class="loader-wrapper">
                                <div id="custom-loader"></div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal Error (no tiene trigger por ahora) -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header modal-error-header">
            <h5 class="modal-title">Error</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-error-body">
            <div style="
            align-self: flex-start;
            white-space: pre-line;
        ">
                <p>Porque queremos hacer un análisis sonoro de las voces y poder vincular características acústicas con parámetros demográficos como la edad o la región. </p>
            </div>
            <div>
                <button data-dismiss="modal" aria-label="Close">Cerrar</button>
            </div>
        </div>
        <div class="modal-footer">
        </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.plyr.io/3.7.2/plyr.js"></script>
<script src="..\static\js\recording.js"></script>
{% endblock %}