{% extends "./base.html" %}

{% block tittle %}Actividad TTS{% endblock %}

{% block links %}
<!-- Lugar para importar links -->
<link rel="icon" href="..\static\img\favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="..\static\img\favicon.ico" type="image/x-icon">
{% endblock %}

{% block customCSS %}
<!-- Lugar para importar css -->
<link rel="stylesheet" type="text/css" href="..\static\css\styleTTS.css">
{% endblock %}


{% block body %}
<!-- Aca va el body -->
{% endblock %}

{% block scripts %}
<!-- Lugar para importar scripts -->
<script src="..\static\js\TTS.js"></script>
{% endblock %}